<%= setup_context(:object => @patron_reg, :title => I18n.t("actions.defaults")) %>

<%= form_for @patron_reg, :as => "patron_reg", :url => {:action => :update_defaults}, :html => {:class => 'form-horizontal aspace-record-form', :id => "patron_reg_form"} do |f| %>

  <%= form_context :patron_reg, @patron_reg do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= link_to_help :topic => "patron_reg" %>
          <h2><%= I18n.t("patron_reg._singular") %> <%= I18n.t("actions.defaults") %> <span class="label label-info"><%= I18n.t("patron_reg._singular") %></span></h2>
          <%= render_aspace_partial :partial => "patron_regs/form", :locals => {:form => form} %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
